<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/pantalla.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<!-- Brand -->
<a class="navbar-brand" href="#">Minimarket</a>

<!-- Links -->
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/views/general/list">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/joyeria/list">Joyeria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/ropa/list">Ropa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/electro/list">Electro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/deco/list">Deco</a>
  </li>
</ul>
</nav>
<br>




<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">Electro</div>
        <div class="card-body">
            <a class="btn btn-success" href="/views/electro/1" >NUEVO</a>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>NOMBRE</th>
                    <th>PRECIO</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <% if(dataElectro.length){ %>
                            <% dataElectro.forEach( item => {%>
                                <tr>
                                    <td><%= item.nombre  %></td>
                                    <td><%= item.PRECIO  %></td>
                                </tr>
                            <% })%>
                        <% } %>
                    </tr>
                </tbody>
              </table>

        </div>
      </div>
</div>






</body>
</html>
