<!DOCTYPE html>
<html lang="en">
<head>
    <title>POS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h3></h3>
            </div>
            <div class="card-body">
                <form action="/joyeria/save" method="post">
                    <div class="form-group">
                        <label for="txtnombre">NOMBRE</label>
                        <input type="text" class="form-control"
                            id="txtnombre"
                            name="nombre"
                            value="<%= joyeriaForm.nombre %>">
                    </div>
                    <div class="form-group">
                        <label for="txtGama">GAMA</label>
                        <input type="text" class="form-control"
                            id="txtGama"
                            name="Gama"
                            value="<%= joyeriaForm.Gama %>">
                    </div>
                    <div class="form-group">
                        <label for="txtPrecio">PRECIO</label>
                        <input type="text" class="form-control"
                            id="txtPrecio"
                            name="precio"
                            value="<%= joyeriaForm.precio %>">
                    </div>
                    <input type="submit" class="btn btn-success" value="GUARDAR">
                </form>
            </div>
        </div>
    </div>
</body>
</html>